{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .nop{
    padding: 0 !important;
  }
  .iconss a i{
    color: black;
    font-size: 20px;
    padding-left: 10px;
  }
  .img-go img{
    position: relative;
    height: 100%;
  }
  .card-body a i{
    color: #e8600c;
    font-size: 35px;
  }
  .sannss{
    font-family: 'Satisfy';font-size: 25px;
      font-weight: 700;
  }
  .spann{
    font-family: 'Satisfy';font-size: 35px;
    color: #e8600c;
    font-weight: 900;
  }
</style>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script>
  AOS.init();
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<section id="blog-section" class="blog-section">
    <div class="container"  >
      <div class="row align-item-center pt-4 ">
        <div class="col-lg-12 d-flex justify-content-center nop" data-aos="fade-down" data-aos-delay="300">
          {% if post.header_image %}
          <img src="{{ post.header_image.url }}" class="img-fluid" width="80%" >
          {% endif %}
        </div>
          <h2 data-aos="fade-down" data-aos-delay="400" class="pt-4"><span style="color: rgb(227, 148, 2); font-size: 35px; font-weight: 700;">Title</span> - {{ post.title }}
          </h2>
        <p class="sannss" data-aos="fade-down" data-aos-delay="500"><a href="{% url 'category' post.category|slugify %}" style="font-size: 23px; text-decoration: none; font-weight: 700;"> 
          <span style="color: rgb(227, 148, 2); font-size: 35px; font-weight: 700;">Category - </span> <span style="color: black; font-size: 25px;">{{ post.category }}</span></a>
           <span class="pl-2"><span style="color: rgb(227, 148, 2); font-size: 25px;">&nbsp;&nbsp; Created at</span> - {{ post.created_at }}</span>
           <span class="pl-2"><span style="color: rgb(227, 148, 2); font-size: 25px;">&nbsp;&nbsp; Created By</span> - {{ post.author.first_name }} {{ post.author.last_name }}</span>
          </p> 
          <h4>{{post.body|safe}}</h4>
          
      </div>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" , name="post_id" , value="{{ post.id }}", style="width: 100px; height: 60px; font-size: 30px;  border-radius: 20%;" , class="btn btn-danger btn-sm"><i class="fa-regular fa-thumbs-down"></i></button>
    {% else %}
    <button type="submit" , name="post_id" , value="{{ post.id }}", style="width: 100px; height: 60px; font-size: 30px; border-radius: 20%;" , class="btn btn-primary btn-sm"><i class="fa-regular fa-thumbs-up"></i></button>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Login to Like</a>
    {% endif %}
    <span style="font-size: 25px;">{{ total_likes }} likes</span>
    <br>
    <br>
</form>
{% if user.is_authenticated %}
        {% if user.id == post.author.id %}
<button type="submit" , style="width: 100px; height: 60px; font-size: 30px;  border-radius: 20%; " , class="btn btn-primary btn-sm">
  <a href="{% url 'update_post' post.pk %}" style="color: black; text-decoration: none;">
  Update</a>
</button>
<button type="submit" , style="width: 100px; height: 60px; font-size: 30px;  border-radius: 20%; " , class="btn btn-primary btn-sm">
  <a href="{% url 'delete_post' post.pk %}" style="color: black; text-decoration: none;">
  Delete</a></button>
{% endif %}
{% endif %}
<br>
<br>
</div>
</section>
    <div class="card mb-3" >
        <div class="row g-0" data-aos="fade-down" data-aos-delay="200">
            <div class="col-md-2 img-go" >
                {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid">
                {% else %}
                <img src="{% static 'blog/images/default-user-pic.jpg' %}" class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title" >Author - <a style="text-decoration: none;color: #e8600c;" href="{% url 'show_profile_page' post.author.profile.id %}">{{ post.author.first_name }}  {{ post.author.last_name }}</a></h5>
                  <p class="card-text">{{ post.author.profile.bio|slice:":400"|safe }}...</p>
                    <p class="card-text iconss"><small class="text-body-secondary">
                        <a href="{% url 'show_profile_page' post.author.profile.id %}"><i class="bi bi-person-circle"></i></a>
                        {% if post.author.profile.website_url %}
                         <a href="{{ post.author.profile.website_url }}"><i class="bi bi-browser-safari"></i></a>
                        {% endif %}
                        {% if post.author.profile.facebook_url %}
                        <a href="{{ post.author.profile.facebook_url }}"><i class="bi bi-facebook"></i></a>
                        {% endif %}
                        {% if post.author.profile.twitter_url %}
                         <a href="{{ post.author.profile.twitter_url }}"><i class="bi bi-twitter"></i></a>
                        {% endif %}
                        {% if post.author.profile.instagram_url %}
                         <a href="{{ post.author.profile.instagram_url }}"><i class="bi bi-instagram"></i></a>
                        {% endif %}
                        {% if post.author.profile.youtube_url %}
                        <a href="{{ post.author.profile.youtube_url }}"><i class="bi bi-youtube"></i></a>
                        {% endif %}
                    </small></p>

                   
                   
                </div>
            </div>
        </div>
    </div>
<br><br>
    <div class="container mb-5">
    <h2 style="color: #e8600c;">Comments....</h2>
    {% if not post.comments.all %}
            No Comments Yet...<a href="{% url 'add_comment' post.pk %}">Add One...</a>
    {% else %}
    <a href="{% url 'add_comment' post.pk %}">Add Comments..</a>
    <br>
            {% for comment in post.comments.all %}
                   <span class="spann"> {{ comment.name }} - {{ comment.date_added }}</span>
                    <br>
                    <br>
                    {{ comment.body }}
                    <br>
                    <br>
            {% endfor %}
    {% endif %}
  </div>


{% endblock %}
