
{% extends 'base.html' %}

{% block content %}
<h1>{{post.title}}</h1> - <small>By : {{post.author}} -  <strong>created At :-</strong>{{post.created_at}}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
    <a href="{% url 'update_post' post.pk %}">(update)</a></small>
<small><a href="{% url 'delete_post' post.pk %}">(delete)</a></small>
        {% endif %}
{% endif %}
<br>
<hr>
<h5>{{post.body}}</h5>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<br>
<hr>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} liked
</form>
{% endblock %}