{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

   

<ul>
    {% for post in object_list %}
    <li><h2><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2> 
        <h4><a href="{% url 'category' post.category|slugify %}"> - {{ post.category }}</a></h4><h5>--- created at --- : {{ post.created_at }}
            &nbsp; By - {{post.author}}</h5>  
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" alt="loding..." width="50%" height="50%">
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <small><a href="{% url 'update_post' post.pk %}">(update)</a></small>
        <small><a href="{% url 'delete_post' post.pk %}">(delete)</a></small><br>
       
        {% endif %}
        {% endif %}
        <br> 
        <!-- {{ post.snippet }} change in models.py file to add snippet -->
        {{post.body|slice:":180"|safe}}...</li>
        <br>
    {% endfor %}
    <br>
</ul>
</body>
</html> 
{% endblock %}